<div class="row mb-3">
    <div class="col-12 col-sm-4">
        <a href="/" class="btn btn-warning"> Back to home </a>
    </div>
</div>

<div class="justify-content-center">
    <div>
        <h2 class="text-center">Admin Page</h2>

        <div class="container mt-3 text-center mt-4">
            <button class="btn btn-secondary mx-2 px-5 py-2">
                <a href="/admin/books" class="text-white text-decoration-none">Libros</a>
            </button>

            <button class="btn btn-secondary mx-2 px-5 py-2">
                <a href="/admin/authors" class="text-white text-decoration-none">Autores</a>
            </button>

            <button class="btn btn-secondary mx-1 px-5 py-2">
                <a href="/admin/categories" class="text-white text-decoration-none">Categorias</a>
            </button>
            <button class="btn btn-secondary mx-3 px-5 py-2">
                <a href="/admin/editorials" class="text-white text-decoration-none">Editoriales</a>
            </button>
        </div>
    </div>
</div>